/* --------------- General ------------------------------ */

/*style of bodybackground*/
body 
{
	color: #131313;
	width: 900px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;

	/*gradient color for all browser*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abf4', endColorstr='#F0F0F0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#00abf4), to(#F0F0F0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #00abf4,  #F0F0F0); /* for firefox 3.6+ */ 
	background-repeat:no-repeat;

}

/*style of header*/
.header {
	background-color: #F0F0F0;
	width: 900px;
	height: 110px;
	-moz-box-shadow: inset 0 0 10px 0 #000;
	-webkit-box-shadow: inset 0 0 10px 0 #000;
	box-shadow: inset 0 0 10px 0 #000;
}

/*for status messages and shoppingcart*/
.header_right {
	float: right;
	width: 450px;
	height: 90px;
	position: relative;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*sytle of content background*/
.content_container {
	background-color: #F0F0F0;
	width: 900px;
	height: auto;
	text-align:center;
	position:relative;
	float: left;
	clear: both;
	padding-bottom: 40px;
	background-repeat:no-repeat;
	
	-moz-box-shadow: inset 0 0 10px 0 #000;
	-webkit-box-shadow: inset 0 0 10px 0 #000;
	box-shadow: inset 0 0 10px 0 #000;
}

/*style of footer*/
.footer
{
	width: 820px;
	clear: both;
	position:relative;
	top: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 10px 40px;
	text-align: center;
	font-size: 0.8em;
	color: white;
	text-align:left;
	clear:both;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#7f7f7f'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#7f7f7f)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #131313,  #7f7f7f); /* for firefox 3.6+ */ 
	
}


/* --------------- Headlines ------------------------------ */
body h1{
	 
	 font-family: Arial, Helvetica, sans-serif;
	 font-weight: bold;
	 font-size: 1.25em;
	 letter-spacing: .2em;
	 line-height: 1.1em;
        margin: 20px 30px 10px;
	 text-align: left;
	 text-transform: uppercase;
	 color: #333;
	 float: left;
}

h2
{
	text-align: center;
	color: #131313;
}

h3
{
	text-align: left;
	color: #131313;
}

hr
{
 border: 0px; /* for Firefox und Opera */
 border-top: solid 1px #FF0000;
 border-bottom: solid 1px #FFFFFF; /* for I.Explorer () */
}

/*------------------------Hyperlinks-------------------------------------*/

/**general Links*/
a:link {
	 color:black; text-decoration:none;
}
a:visited {
	 color:black; text-decoration:none; 
}
a:focus { 
	font-weight:bold; color:black; text-decoration:underline; 
}
a:hover { 
	font-weight:bold; color:black; text-decoration:none; 
}
a:active {
	color:black; text-decoration:underline; 
}

/* Button style for links */
.button_style{
	outline: thin outset;
    padding: 5px;
    margin: 10px 0;
    font-weight: normal;
}
a.button_style:link{
	font-weight: normal;
}
a.button_style:visited {
	outline: thin outset;
}
a.button_style:focus {
	outline: thick outset;
}
a.button_style:hover {
	outline: thick outset;
}
a.button_style:active {
	outline: thin outset;
}


/* Style for "back" link */
.back{
	float: right;
	margin: 20px 0 0;
}
a.back{
	color: #1874CD;
	font-weight: bold;
}
a.back:hover{
	text-decoration: underline;
}




.space{
	padding: 15px;
}

/* Message area wrapper */
.messagearea_wrapper{
	margin: 5px;
	font-weight: bold;
}

/*Message Area*/
.messagearea{
	color: black;
}

/*Error Message Area*/
#error_msg_area{
	color: red;
}
/* --------------- Header Area ------------------------------ */



#shoppingcart {
	margin: 10px;
	font-weight:bold;
	font-size: 0.8em;
	color:#A0A0A0;
}

#shoppingcart tr
{
	border: solid 1px black;
	border-radius: 10px;
}

#shoppingcart th
{
	border-bottom: solid 5px black;
}

#buttons
{
	clear: both;
}

table
{
	border-collapse:collapse;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15 px;	
}

td
{
	margin: 0px;
	border-top: 3px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding:5px;
	border-color: grey;
}

th
{
	border-bottom: 5px solid grey;
	color: #1874CD;
}


.shoppingcart a:link[id="start_checkout"]{
	text-align: right;
	text-decoration: underline;
}
.shoppingcart a:focus { 
	font-weight:bold; color:black; text-decoration:underline; 
}
.shoppingcart a:hover { 
	font-weight:bold; color:black; text-decoration:underline; 
}
.shoppingcart a:active {
	font-weight:bold; color:black; text-decoration:underline; 
}
.shoppingcart input[id="quantity_1"]{
	width: 3em;
	text-align: center;
}
.shoppingcart img{
	margin-left: 5px;
    margin-right: 5px;
}
.shoppingcart div[id="buttons"]{
	text-align: right;
}




/* --------------- wrapper ------------------------ */
/*content boxes centered*/
.boxwrapper 
{
	margin: 40px auto;
	width: 780px;
}

/*style of lightbox*/
.colorboxwrapper
{
	margin: 40px auto;
	width: 450px;
}

/*style of small lightbox*/
.colorboxwrapper_small
{
	margin: 10px auto;
	width: 450px;
}

/*content boxes centered in customer and backend*/
.internalwrapper
{
	margin-left: 200px;
	margin-right: 40px;
}

/*sets product in a line*/
.productwrapper
{
	width: 780px;
	clear:both;
}


/* --------------- Box Layouts ------------------------ */

/*box background*/
.whitebox 
{
	float: left;
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 2px black;
	margin: 10px;
}

.box_3inRow
{
	width: 240px;
	height: auto;
}

.box_4inRow
{
	width: 175px;
	height: auto;
}

.box_2inRow
{
	width: 370px;
	height: auto;
}

.box_1inRow
{
	width: 760px;
	height: auto;	
}

/*internal boxes*/
.internal
{
	width: 660px;
	height: auto;
}

/*box for product details*/
.slidebox
{
	height: auto;
	display: none;
}

fieldset
{
	border: black solid 1px;
	border-radius: 10px;
	border-color: grey;
	padding: 10px;
	margin:10px;
	min-height:100px;
	width: auto;
}

/*frame in whiteboxes*/
legend
{
	font-weight:bold;
	font-size: 1.2em;
	text-align: left;
}


/* --------------- images ------------------------ */
/*Logo at products*/
#littlelogo
{
	width: 120px;
	margin: 5px;
}

/*logo for whiteboxes*/
#minilogo
{
	width:40px;
	margin: 5px;
	float:left;
	margin-bottom:5px;
}

/*logo for header*/
#logo {
	width: 400px;
	margin: 10px;
}

/*logo for footer*/
#froxcloud_white
{
	height: 20px;
	float:right;
	bottom:0px;
}



/* --------------- Button Layouts ------------------------ */


.buttonlayout_more
{
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;

	/*Gradient color like logo color with "ultimate css gradient generator" */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f7f7f', endColorstr='#131313'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7f7f7f), to(#131313)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #7f7f7f,  #131313); /* for firefox 3.6+ */ 

}

.buttonlayout_buy
{
	width: 100%;
	color: white;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abf4', endColorstr='#02def7'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#00abf4), to(#02def7)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #00abf4,  #02def7); /* for firefox 3.6+ */ 
}

/* -------------------Language Switch Buttons---------------*/

.language_switch
{
	float:right;
	margin-right: 200px;
}

.language_switch button
{
	float:right;
	color: white;
	font-size: 0.6em;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f7f7f', endColorstr='#131313'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7f7f7f), to(#131313)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #7f7f7f,  #131313); /* for firefox 3.6+ */ 
}

#german
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#english
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.language_switch button.active
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abf4', endColorstr='#02def7'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#00abf4), to(#02def7)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #00abf4,  #02def7); /* for firefox 3.6+ */ 
}



/* --------------- Main Menu ------------------------------ */
.mainmenu ul
{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:30px;
	font-size:12px;
	font-weight:bold;
	background:transparent url(../images/nav_bg.png) repeat-x top left;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f7f7f', endColorstr='#131313'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7f7f7f), to(#131313)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #7f7f7f,  #131313); /* for firefox 3.6+ */ 
}

.mainmenu li
{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
	
.mainmenu li a
{
	display:block;
	float:left;
	color:#999999;
	text-decoration:none;
	font-weight:bold;
	padding:8px 20px 0 20px;
}
	
.mainmenu li a:hover
{	
	color:#FFFFFF;
	height:22px;
	background:transparent url(../images/nav_bg.png) 0px -30px no-repeat;		
}
	
.mainmenu li a.mm_active 
{
	color: white;
	display:inline;
	height:22px;
	background:transparent url(../images/nav_bg.png) 0px -30px no-repeat;	
	float:left;
	margin:0;
}

#mainmenuelement{
	float: right;
}



/* --------------- Registration Formular ------------------------------ */
.registrationform{
	text-align: left;
}
.registrationform legend{
	font-weight: bold;
}
.registrationform label{
	margin-left: 10px;
	width: 7em;
    float: left;	
}
.registrationform label[for="title"]{
	float: none;
	position: absolute;
	left: 420px;
}
.registrationform input[id="title"]{
	position: absolute;
	left: 520px;
}
.registrationform select[id="gender"]{
	
}
.registrationform label[for="last_name"]{
	float: none;
	position: absolute;
	left: 420px;
}
.registrationform input[id="last_name"]{
	position: absolute;
	left: 520px;
}
.registrationform input[id="email"]{
	width: 15em;
}
.registrationform label[class="streetnumber"]{
	float: none;
	position: absolute;
	left: 420px;
}
.registrationform input[class="streetnumber"]{
	position: absolute;
	left: 520px;
	width: 6em;
}
.registrationform label[class="city"]{
	float: none;
	position: absolute;
	left: 420px;
}
.registrationform input[class="city"]{
	position: absolute;
	left: 520px;
}
.registrationform input[class="postcode"]{
	width: 5em;
}
.registrationform fieldset{
	margin-top: 1em;
}
.registrationform input[type="reset"]{
	margin-left: 80px;
	margin-top: 10px;
}

/* --------------- Customer Center -------------------------------------- */

.customer_content_container {
	width: 100%;
	text-align: left;
	float: left;
	margin: 5px;
}
.customer_content_container h1{
	margin-top: 0px;
}

#customer_header {
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 10px;
    text-align: right;
}
#customer_header a:link{
	margin-left: 5px;
	color:#A0A0A0; text-decoration:none;
}
#customer_header a:focus { 
	color:black; text-decoration:none; 
}
#customer_header a:hover { 
	color:black; text-decoration:underline; 
}
#customer_header a:active {
	color:#A0A0A0; text-decoration:none; 
}
#customer_header a:visited {
	color:#A0A0A0; text-decoration:none; 
}
#customer_header div[class="welcome_text"]{
	float: left;
	margin-top: 2px;
}


.cust_data{
	width: 680px;
	text-align: left;
}

.customermenu {
	border-radius: 10px;
	background: #333;
	list-style: none;
	margin: 15px;
	padding: 0;
	float: left;
	border:1px solid #000000;
}
.customermenu ul {
	list-style-type:none;
	padding: 0;
	margin: 5px;
}
.customermenu li {
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	color:#999999;
	margin: 0;
	padding: 0;
}
.customermenu a {
	background: #333;
	border-bottom: 1px solid #393939;
	color:#999999;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight:normal;
	text-align: left;
    text-indent: 4px;
}
.customermenu a:hover {
	background:  url('../images/cmenu_hover_blue.png') left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}

.customermenu a.cm_active {
	background:  url('../images/cmenu_hover_blue.png') left center no-repeat;
	color: white;
}

/* Customer Data Table */
.customer_data {
	vertical-align: top;
	margin: 5px;
}

.customer_data th{
	color: 1874CD;
	width: 200px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 20px;
    border: none;
}
.customer_data td{
    text-align: left;
    vertical-align: top;
    padding-bottom: 20px;
    border: none;
}

#edit_customer{
	margin: 15px;
	clear: left;
	float: left;
}

.edit_cust_data label{
	margin-left: 10px;
	width: 10em;
    display: block;
    float: left;
	
}
.edit_cust_data input{
	width: 200;
}
.edit_cust_data legend{
	font-weight: bold;
}

.edit_cust_data fieldset{
	margin-top: 1em;
}
.edit_cust_data img[id="save_customer"]{
	margin-left: 20px;
}

#change_pw{
	
	
}

#checkbox_same_address{
	width: 10px;
	margin: 10px;
}

#shippingcountry{
	
}


/*----------------------Backend--------------------------*/

.admin_logout{
	float: right;
	margin: 10px;
	font-weight:bold;
	font-size: 0.8em;
	color:#A0A0A0;
	clear:both;
	right: 10px;
	position: absolute;
}
.admin_logout img[id="logout"]{
	position: absolute;
    right: 0px;
    top: 0px;
}
#logout_text{
	position: absolute;
    right: 24px;
    top: 1px;
}

#admin_welcome
{
	bottom: 0;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    right: 10px;
    text-align: right;
}
#customizing_entries{
	text-aling: left;
}
#customizing_entries label{
	width: 17em;
    display: block;
    float: left;
    margin-bottom: 5px;
}
#customizing_entries input{
	width: 200px;
	margin-bottom: 5px;
}

.content{
	text-align: left;
}
.content img{
	margin: 5px;
}
.content table{
	margin-top: 20px;
	margin-bottom: 15px;
}
.content th{
	color: black;
}
.content a:focus { 
	font-weight:bold; color:black; text-decoration:none; 
}
.content a:active {
	color:black; text-decoration:none; 
}
.content form{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 5px;
}
.content legend{
	font-weight: bold;
	margin-bottom: 15px;
}
.content label{
	margin-left: 10px;
	width: 7em;
    float: left;	
}
.content label[for="label_attribute"], label[for="value"]{
	margin-left: 10px;
	width: 4em;
    float: left;	
}
.content legend label{
	margin-left: 10px;
    float: left;
    width: auto;
}
.content label[for="title"]{
	font-weight: bold;
	width: 45px;
}
.content input{
	margin-left: 10px;
}
.content input[id="edit_customer"]{
	visibility: hidden;
}
.content input[type="submit"]{
	margin: 10px;
}
.content textarea{
	margin-bottom: 10px;
    margin-left: 10px;
    width: 550px;
}
.content select{
	margin-left: 10px;
}
#new_server_editor label{
	width: 13em;
}

/*---------------- contact form --------------------------------------*/
.contact_message{
	padding: 10px;
}

.contact_message p{
	text-align: left
}

.contact_message label{
	width: 8em;
    display: block;
    float: left;
}
.contact_message input{
	width: 200px;
}
.contact_message legend{
	font-weight: bold;
}
.contact_message fieldset{
	margin-top: 1em;
	padding-left: 20px;
	padding-right: 20px;
}
.contact_message input[type="radio"]{
	width: 5px;
}
.contact_message textarea{
	width: 325px;
}
.contact_message input[type="submit"]{
	width: 100px;
	float: left;
}
/*---------------- login form --------------------------------------*/

.loginform label{
	width: 7em;
    display: block;
    float: left;
    margin-bottom: 5px;
}
.loginform input{
	width: 200px;
	margin-bottom: 5px;
}
.loginform input[type="submit"]{
	width: 100px;
	margin-top: 5px;
}

#link_register{
	font-style: italic;
	text-decoration: underline;
	margin-left: 20px;
}

/*---------- Contract Overview --------------------------------*/
#contract_overview div[class="status"]{
	margin-left: 15px;
	margin-bottom: 15px;
}

#invoice_overview div[class="status"]{
	margin-left: 15px;
	margin-bottom: 15px;
}

/*------ Customer Address Information ------------ */
.cust_address_information{
	text-align: left;
}

.cust_address_information legend{
	font-weight: bold;
}
.cust_address_information label{
	margin-left: 10px;
	width: 7em;
    float: left;	
}
.cust_address_information label[class="streetnumber"]{
	float: none;
	position: absolute;
	left: 420px;
}
.cust_address_information input[class="streetnumber"]{
	position: absolute;
	left: 520px;
	width: 6em;
}
.cust_address_information label[class="city"]{
	float: none;
	position: absolute;
	left: 420px;
}
.cust_address_information input[class="city"]{
	position: absolute;
	left: 520px;
}
.cust_address_information input[class="postcode"]{
	width: 4em;
}
.cust_address_information fieldset{
	margin-top: 1em;
}