@CHARSET "ISO-8859-1";

body {
	color: red;
	width: 560px;
	margin: 0 auto;
}

.header {
	text-align: center;
	
	
	clear: both;
	background-color: blue;
}

.content_container {
	clear: both;
	background-color: blue;
}
